*{
    margin: 0%;
    padding: 0%;
}
h2{
    text-align: center;
}
.accordion-button{
    font-weight:bold ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    text-align: center;
}
button.course-accordation.active:after {
    content: "\2212";
	

}